%a{:href => "http://localhost:3000?url=http://placekitten.com/120/120"} Start editing!
%h3
  You are editing
  %span#url= @p
%img#img{:src => @p}

%a#edit.btn Edit!
%br
.share
  %a{:href => "www.tumble.com/share"} Share on Tumblr!