%a{:href => "http://localhost:3000?url=http://placekitten.com/120/120"} Start editing!
%h3
  You are editing
  %span#url= @p
  %span#title.hide= @t
%img#img{:src => @p}
#aviary

%a#edit.btn Edit!
%br
.share
  %a#t{:href => "http://www.tumblr.com/share?v=3&u=#{URI.escape(@p, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))}", :target => "_blank"} Share on Tumblr!