%h1 Welcome to Avishary!

%p Drag the button below into your bookmark bar!
%a.btn.bt-large.btn-success{:href=>"javascript:(function(){if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='https://s3.amazonaws.com/myjsandstuff/main.js';}})();"} Avishary Bookmarklet
